:root {
  --primary-text-color: #434455;
  --title--text-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --secondary-brand-color: #404bbf;
  --accent-color: #e7e9fc;
  --background-color: #f4f4fd;
  --white-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 12px;
}

.list-link {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand-color);
}

.logo-header {
  color: var(--title--text-color);
}

.site-nav .site-nav-link {
  font-weight: 500;
  color: var(--title--text-color);
  text-decoration: none;
}

.site-nav-link:hover,
.site-nav-link:focus,
.contacts-item:hover,
.contacts-item:focus,
.site-nav-link.current {
  color: var(--primary-brand-color);
}

.contacts-item {
  font-style: normal;
  text-decoration: none;
  color: var(--title--text-color);
}

/* Hero */

.hero {
  background-color: var(--title--text-color);
  text-align: center;
  margin-bottom: 120px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
  /* width: 494px; */
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 188px;
}

.order-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin-bottom: 188px;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--secondary-brand-color);
}

/* Main Content */
.features-section,
.our-work-section,
.portfolio-section {
  padding-bottom: 120px;
}

.our-team-section {
  background-color: var(--background-color);
  padding: 120px 0 120px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--title--text-color);
  margin-top: 0;
  margin-bottom: 72px;
}

.features-title,
.example-title,
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title--text-color);
  margin-top: 0;
  margin-bottom: 8px;
}

.team-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 32px;
}

.features-descr {
  margin-top: 0;
  margin-bottom: 0;
}

.team-descr {
  text-align: center;
  margin: 0 0;
  padding: 0 0 32px 0;
}

.our-team-list {
  background-color: var(--white-color);
}

/* Footer */
.footer-section {
  background-color: var(--title--text-color);
  color: var(--accent-color);
  padding: 100px 0;
}

.container > a {
  display: block;
  margin-bottom: 16px;
}

.logo-footer {
  color: var(--background-color);
}

.footer-descr {
  margin-top: 0;
  margin-bottom: 0;
  width: 264px;
}

/* Portfolio Main  */

.portfolio-filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background: var(--background-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 12px 24px;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  color: var(--white-color);
  background: var(--secondary-brand-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu {
  width: 586px;
  margin: 96px 0 72px 0;
}

.portfolio-title {
  margin: 0 0 8px 0;
  padding-top: 32px;
}

.portfolio-descr {
  color: var(--primary-text-color);
  margin: 0 0;
  padding: 0 0 32px 0;
}
